@media (max-width: 575px) {

    .nav-link {

        padding: .5rem .3rem;
    }

    .btn2 {
        margin-top: 1rem;
        display: inline-block;
        margin-bottom: 2rem;
    }
}

@media (max-width: 400px) {

    .nav-link {

        padding: .5rem .2rem;
        font-size: .6rem;
    }

    .btn2 {
        margin-top: 1rem;
        display: inline-block;
        margin-bottom: 2rem;
    }
}
